@font-face {
    font-family: "raleway-regular";
    src: url("../../assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: "raleway-bold";
    src: url("../../assets/fonts/Raleway/Raleway-Bold.ttf");
}