.home-page-overview {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 147px;
    row-gap: 97px;
    margin-inline: 280px;
    padding-top: 180px;
}

.overview-item {
    color: $clr1;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-bottom: 25px;
    }
}

.overview-item-header {
    font-size: rem(20px);
    font-family: "raleway-bold";
    font-weight: 700;
    margin-bottom: 8px;
}

.overview-item-desc {
    font-family: "Open Sans - Regular";
    font-size: rem(14px);
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}